html,
body {
  margin: 0;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 999 !important;
}

.v-text-field fieldset {
  border: none !important;
}
