.transparent_bg {
  background-color: transparent !important;
}
.profile_font {
  line-height: 30, 22px;
  font-weight: 700;
}
.btn_link {
  background: #f12c5e !important;
  border-radius: 10px;
  text-transform: capitalize;
}
