<div>
  <v-row>
    <v-col>
      <v-card max-width="1200" class="ml-auto mr-auto elevation-0 mt-12">
        <v-card-title class="elevation-0">
          {{ "My services" }}
          <v-spacer></v-spacer>
        </v-card-title>
        <v-card-text class="elevation-0">
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex
                xs12
                md12
                v-for="item in getterServices"
                :key="item.id"
                class="d-flex justify-space-between"
              >
                <div class="text-h5">{{ item.name}}</div>
                <v-btn v-if="item.name=='Twitch'" :href="twitchOauthUrl()" small
                  >link</v-btn
                >
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</div>
