<v-card
  class="ml-auto mr-auto elevation-0"
  :img="require(`../../assets/bg_main_profile.png`)"
  min-height="550"
>
  <v-card-title class="black--text profile_font">
    <v-spacer></v-spacer>
    {{ $t('editServices_management.integrations') }}
    <v-spacer></v-spacer>
  </v-card-title>
  <v-card-text class="elevation-0 py-12 pl-0">
    <v-container grid-list-md>
      <v-layout wrap>
        <v-flex xs12 md12 class="d-flex">
          <v-flex xs2 md1>
            <v-img
              class="mt-2"
              :src="require(`../../assets/Twitch.png`)"
              max-width="45"
              max-height="45"
            ></v-img>
          </v-flex>

          <v-flex xs10 md8>
            <v-text-field
              outlined
              readonly
              background-color="rgba(169, 162, 164, 0.3)"
              class="rounded-lg black--text"
              :value="getTwitchFullUrl"
            ></v-text-field>
          </v-flex>
          <v-flex md2 class="d-flex" v-if="!isMobile">
            <v-btn
              x-large
              v-t="'editServices_management.link'"
              :href="twitchOauthUrl()"
              class="btn_link"
              dark
              :disabled="isLoading || isTwitchLinkDisabled"
              :loading="isLoading"
            ></v-btn>
          </v-flex>
        </v-flex>
        <v-flex md2 class="d-flex justify-end mt-n8 ml-n1" v-if="isMobile">
          <v-btn
            v-t="'editServices_management.link'"
            :href="twitchOauthUrl()"
            class="btn_link"
            dark
            :disabled="isLoading || isTwitchLinkDisabled"
            :loading="isLoading"
          ></v-btn>
        </v-flex>
        <v-flex xs12 md12 class="d-flex ">
          <v-flex md1>
            <v-img
              class="mt-2"
              :src="require(`../../assets/Youtube.png`)"
              max-width="45"
              max-height="45"
            ></v-img>
          </v-flex>

          <v-flex md8>
            <v-text-field
              outlined
              readonly
              background-color="rgba(169, 162, 164, 0.3)"
              class="rounded-lg black--text"
              :value="getYoutubeFullUrl"
            ></v-text-field>
          </v-flex>
          <v-flex md2 v-if="!isMobile">
            <v-btn
              x-large
              v-t="'editServices_management.link'"
              class="btn_link"
              dark
              :disabled="isLoading || isTwitchLinkDisabled"
              :loading="isLoading"
            ></v-btn>
          </v-flex>
        </v-flex>
        <v-flex md2 class="d-flex justify-end mt-n8 ml-n1" v-if="isMobile">
          <v-btn
            v-t="'editServices_management.link'"
            class="btn_link"
            dark
            :disabled="isLoading || isTwitchLinkDisabled"
            :loading="isLoading"
          ></v-btn>
        </v-flex>
        <v-flex xs12 md12 class="d-flex">
          <v-flex md1>
            <v-img
              class="mt-2"
              :src="require(`../../assets/Vk.png`)"
              max-width="45"
              max-height="45"
            ></v-img>
          </v-flex>

          <v-flex md8>
            <v-text-field
              outlined
              readonly
              background-color="rgba(169, 162, 164, 0.3)"
              class="rounded-lg black--text"
              :value="getVkFullUrl"
            ></v-text-field>
          </v-flex>
          <v-flex md2 v-if="!isMobile">
            <v-btn
              x-large
              v-t="'editServices_management.link'"
              class="btn_link"
              dark
              :disabled="isLoading || isTwitchLinkDisabled"
              :loading="isLoading"
            ></v-btn>
          </v-flex>
        </v-flex>
        <v-flex md2 class="d-flex justify-end mt-n8 ml-n1" v-if="isMobile">
          <v-btn
            v-t="'editServices_management.link'"
            class="btn_link"
            dark
            :disabled="isLoading || isTwitchLinkDisabled"
            :loading="isLoading"
          ></v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card-text>
</v-card>
