<div>
  <v-dialog
    v-model="showFileUploadDialog"
    class="file__upload_dialog"
    :max-width="800"
    persistent
  >
    <v-card>
      <v-card-title>
        Upload company logo
      </v-card-title>
      <v-card-text>
        <v-file-input
          id="file__upload__input"
          :show-size="1024"
          label="filename"
          hint="Please select png file"
          :persistent-hint="true"
          name="cv"
          v-model="cv"
          prepend-inner-icon="mdi-paperclip"
          prepend-icon=""
          accept=".png"
          @change="onChange"
        >
        </v-file-input>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          id="document__upload__close__btn"
          color="error"
          text
          @click="clickClose"
          v-t="$t('app.actions.cancel')"
        >
        </v-btn>
        <v-btn
          id="document-upload__upload__btn"
          color="primary"
          text
          :disabled="!hasFile || isLoading"
          @click="uploadImage"
          v-t="$t('app.actions.save')"
        >
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog
    persistent
    v-model="dialog"
    @keydown.esc="close"
    max-width="700px"
    :fullscreen="!$vuetify.breakpoint.smAndUp"
  >
    <v-card
      class="ml-auto mr-auto elevation-0"
      style="background-color: white;"
    >
      <v-card-title class="white--text profile_font">
        <v-spacer></v-spacer>
        Add partner
        <v-spacer></v-spacer>
      </v-card-title>
      <validation-observer ref="observer-add-partner-form" v-slot="v">
        <v-form id="editContactData" data-vv-scope="addPartnerData">
          <v-card-text class="elevation-0">
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 md12>
                  <v-btn xl dark color="warning" @click="changeMainImage()"
                    >Add logo</v-btn
                  >
                </v-flex>
                <v-flex xs6 md6>
                  <validation-provider
                    name="username"
                    mode="lazy"
                    :rules="`required|max:32|verify_already_exist_username:${partner.id}`"
                    v-slot="{ errors }"
                  >
                    <v-text-field
                      label="username"
                      outlined
                      background-color="rgba(169, 162, 164, 0.3)"
                      class="rounded-lg "
                      v-model="partner.userName"
                      :error-messages="errors[0]"
                    ></v-text-field>
                  </validation-provider>
                </v-flex>
                <v-flex xs6 md6>
                  <validation-provider
                    name="password"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <v-text-field
                      label="password"
                      background-color="rgba(169, 162, 164, 0.3)"
                      outlined
                      class="rounded-lg "
                      v-model="partner.password"
                      :error-messages="errors[0]"
                    ></v-text-field>
                  </validation-provider>
                </v-flex>
                <v-flex xs6 md6>
                  <validation-provider
                    name="email"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <v-text-field
                      label="email"
                      outlined
                      background-color="rgba(169, 162, 164, 0.3)"
                      class="rounded-lg "
                      v-model="partner.email"
                      :error-messages="errors[0]"
                    ></v-text-field>
                  </validation-provider>
                </v-flex>
                <v-flex xs6 md6>
                  <validation-provider
                    name="deliverName"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <v-text-field
                      label="deliverName"
                      outlined
                      background-color="rgba(169, 162, 164, 0.3)"
                      class="rounded-lg "
                      v-model="partner.deliveryName"
                      :error-messages="errors[0]"
                    ></v-text-field>
                  </validation-provider>
                </v-flex>
                <v-flex xs6 md6>
                  <validation-provider
                    name="icon"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <v-select
                      label="DelivreryType"
                      outlined
                      background-color="rgba(169, 162, 164, 0.3)"
                      :items="deliveryType"
                      class="rounded-lg "
                      v-model="partner.deliveryType"
                      :error-messages="errors[0]"
                    ></v-select>
                  </validation-provider>
                </v-flex>
                <v-flex xs12 md12 class="d-flex">
                  <v-spacer> </v-spacer>

                  <v-btn
                    v-t="$t('app.actions.cancel')"
                    @click="close"
                    class="px-10 rounded-lg"
                    dark
                    color="#FEA116"
                  ></v-btn>
                  <v-btn
                    v-t="$t('app.actions.save')"
                    @click="addPartner"
                    :disabled="isLoading"
                    :loading="isLoading"
                    class="px-10 rounded-lg"
                    dark
                    color="#FEA116"
                  ></v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-form>
      </validation-observer>
    </v-card>
  </v-dialog>
  <v-row>
    <v-col>
      <v-card>
        <v-card-title>
          <span>Our partners </span>
          <v-spacer></v-spacer>
          <v-btn dark fab bottom right color="green" @click="addItem">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-card-title>

        <v-data-table
          :headers="headers"
          :items="statePartners"
          :footer-props="{itemsPerPageOptions: [5, 10, 15, 20, 25]}"
          :loading="stateIsLoadingPartners"
          :options.sync="options"
          :server-items-length="stateTotalPartners"
          show-select
          item-key="id"
          :single-select="true"
          class="elevation-1"
        >
          <template v-slot:item.actionEdit="{ item }">
            <v-btn icon :class="$vuetify.breakpoint.xs ? '': 'mr-n5'">
              <v-icon size="32" color="blue" @click="editItem(item)">
                mdi-file-edit
              </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
</div>
