.transparent_bg {
  background-color: transparent !important;
}
.btn_update {
  background: #f12c5e !important;
  border-radius: 10px;
  text-transform: capitalize;
}
@media only screen and (max-width: 600px) {
  .clothes_checkbox .v-label {
    font-size: 12px !important;
  }
}
