<v-card class="ml-auto mr-auto elevation-0 transparent_bg">
  <validation-observer ref="observer-preference-food-form" v-slot="v">
    <v-form class="form__edit" data-vv-scope="preferenceFood">
      <v-card-text class="elevation-0 pa-0 ma-0">
        <v-container grid-list-md class="pa-0 pt-4">
          <v-layout wrap class="white--text">
            <v-row no-gutters>
              <v-col xs="12" sm="12" md="10" lg="8">
                <v-row class="ma-0 py-0">
                  <v-col
                    v-for="(item, index) in getterPreferencesFood"
                    cols="6"
                    sm="4"
                    md="4"
                    lg="4"
                    class="ma-0 py-0"
                    :key="item.id"
                  >
                    <v-checkbox
                      class="ma-0 py-0 food_checkbox"
                      v-model="selected"
                      on-icon="mdi-checkbox-intermediate"
                      color="#F12C5E"
                      :label="$t(`preference_management.food_category.${item.name}`)"
                      :value="item.id"
                    >
                    </v-checkbox>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-flex xs12 md12 class="text-right mt-n12">
              <v-tooltip bottom max-width="600" color="white">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    fab
                    small
                    color="#F12C5E"
                    class="white--text ml-auto"
                    v-bind="attrs"
                    v-on="on"
                  >
                    ?
                  </v-btn>
                </template>
                <span class="black--text"
                  >{{ $t('preference_management.food_description')}}</span
                >
              </v-tooltip>
            </v-flex>
            <v-flex xs12 md12>
              <validation-provider rules="max:255" v-slot="{ errors }">
                <v-textarea
                  outlined
                  background-color="rgba(169, 162, 164, 0.3)"
                  rows="6"
                  no-resize
                  v-model="stateCurrentUser.foodPreferenceText"
                  counter="255"
                  class="rounded-lg black--text"
                  :error-messages="errors[0]"
                ></v-textarea>
              </validation-provider>
            </v-flex>
            <v-flex md12 class="d-flex justify-end">
              <v-btn
                v-t="'editProfile_management.update'"
                :x-large="isMobile ? false : true"
                @click="updateFoodData"
                class="btn_update white--text rounded-lg"
                :disabled="isLoading"
                :loading="isLoading"
              ></v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </v-form>
  </validation-observer>
</v-card>
