.profile_form_text {
  font-family: Gilroy;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
.cursor {
  cursor: pointer;
}
