.transparent_bg {
  background-color: transparent !important;
}
.profile_font {
  font-size: 25px;
  line-height: 30, 22px;
  font-weight: 700;
}
.your_uniq_id_font {
  font-size: 20px;
  line-height: 23, 54px;
  font-weight: 500;
}
.v-text-field input {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: white !important;
}
.btn_update {
  background: #fea116 !important;
  border-radius: 20px;
}
.uniq_id_info {
  color: #63698c;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0em;
}
