@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
html,
body {
  margin: 0;
  height: 100%;
  background: url('../../assets/bg_main3.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: 'Exo', sans-serif;
}
.transparent_bg {
  background-color: transparent !important;
}
.logo {
  font-family: Gilroy;
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  line-height: 125px;
  letter-spacing: 0em;
  text-align: left;
}
.logo::after {
  content: attr(data-end);
  color: #f12c5e;
}
.cursor {
  cursor: pointer;
}
.profile_form_text {
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}
.logout {
  font-size: 25px;
}
.v-text-field fieldset {
  border: none !important;
}

.streamer_id.v-text-field input {
  text-align: center;
}
.v-tabs-font-style {
  font-weight: 500;
  line-height: 23, 54px;
  letter-spacing: 0em;
  text-transform: lowercase;
}
.v-tabs-font-style.v-tab span::first-letter {
  text-transform: capitalize !important;
}
.v-tabs-font-style.v-tab--active {
  color: #44413b !important;
  font-weight: 600;
}
.v-tabs div[role='tablist'] {
  background-color: transparent;
}
.theme--light.v-tabs-items {
  background-color: transparent !important;
}
.v-slide-group__prev.v-slide-group__prev--disabled {
  display: none !important;
}
.food_styles_row {
  background: rgba(169, 162, 164, 0.3);
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
  .main_login_form {
    border-radius: 10px !important;
  }
  .profile_form_text {
    font-size: 15px !important;
  }
  .logout {
    font-size: 15px;
  }
}
