<v-app class="transparent_bg">
  <v-app-bar color="transparent" flat class="mt-12">
    <v-container class="py-0 fill-height">
      <v-row align="center">
        <v-col align="right" cols="7">
          <v-img
            :src="require(`../../assets/SendAD.png`)"
            max-height="100"
            max-width="300"
          ></v-img>
        </v-col>
        <v-col align="center">
          <v-avatar class="pa-2 cursor">
            <v-img
              :src="
                    $i18n.locale == 'en'
                      ? require(`../../assets/en-flag.svg`)
                      : require(`../../assets/ru-flag.png`)
                  "
              aspect-ratio="1.0"
              @click="setLocale($i18n.locale == 'en' ? 'ru' : 'en')"
              max-height="32"
            ></v-img>
          </v-avatar>
          <span class="white--text"
            >{{ $i18n.locale == 'en' ? 'English' : 'Русский' }}</span
          ></v-col
        >
      </v-row>
    </v-container>
  </v-app-bar>
  <v-main>
    <v-container class="mb-10">
      <v-row>
        <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="3">
          <v-card
            rounded="lg"
            :img="require(`../../assets/bg_main_profile.png`)"
          >
            <v-card-text>
              <v-row align="center" justify="center">
                <v-col>
                  <v-flex class="d-flex d-flex-inline">
                    <v-avatar color="indigo" max-height="60" max-width="60">
                      <v-icon dark>
                        mdi-account-circle
                      </v-icon>
                    </v-avatar>
                    <v-flex
                      class="d-flex black--text profile_form_text ml-4 mt-2"
                    >
                      {{ getterStreamer.lastName + ', ' +
                      getterStreamer.firstName }}
                    </v-flex>
                  </v-flex>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
          <v-card
            class="profile_form mt-2"
            rounded="lg"
            :img="require(`../../assets/bg_main_profile.png`)"
          >
            <v-card-text>
              <h2 class="d-flex justify-center black--text">
                {{ $t('publicStreamer_management.links') }}
              </h2>
              <v-flex class="d-flex d-flex-inline">
                <v-flex class="d-flex justify-center">
                  <v-img
                    class="mt-2 mr-1"
                    :src="require(`../../assets/Twitch.png`)"
                    max-width="45"
                    max-height="45"
                  ></v-img>
                  <v-img
                    class="mt-2 mr-2"
                    :src="require(`../../assets/Youtube.png`)"
                    max-width="45"
                    max-height="45"
                  ></v-img>
                  <v-img
                    class="mt-2"
                    :src="require(`../../assets/Vk.png`)"
                    max-width="40"
                    max-height="40"
                  ></v-img>
                </v-flex>
              </v-flex>
            </v-card-text>
          </v-card>
          <v-card
            class="profile_form mt-2"
            rounded="lg"
            :img="require(`../../assets/bg_main_profile.png`)"
          >
            <v-card-text>
              <h2 class="d-flex justify-center black--text">
                {{ $t('publicStreamer_management.time_delivery') }}
              </h2>

              <v-img
                class="mt-2 mx-12"
                :src="require(`../../assets/line_1.png`)"
              ></v-img>

              <v-flex class="d-flex d-flex-inline">
                <v-flex class="d-flex justify-center mt-2 mb-0">
                  <v-text-field
                    class="mx-6 rounded-lg"
                    align="center"
                    outlined
                    dense
                    readonly
                    :value="timeDelivery"
                    background-color="rgba(169, 162, 164, 0.3)"
                  ></v-text-field>
                </v-flex>
              </v-flex>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" xs="12" sm="8" md="8" lg="8" xl="6">
          <v-card
            min-height="50vh"
            rounded="lg"
            :img="require(`../../assets/bg_main_profile.png`)"
            class="elevation-0"
          >
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap class="black--text">
                  <v-flex md6>
                    <h2>{{ $t('publicStreamer_management.streamer_id') }}</h2>
                  </v-flex>
                  <v-flex md8 class="d-flex-inline">
                    <v-text-field
                      class="rounded-lg black--text"
                      readonly
                      dense
                      background-color="rgba(169, 162, 164, 0.3)"
                      v-model="getterStreamer.streamerId"
                      outlined
                    >
                    </v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="4"></v-col>
      </v-row>
    </v-container>

    <v-snackbar
      top
      v-model="snackbar.show"
      :color="snackbar.color"
      :timeout="snackbar.duration"
      right
    >
      {{ snackbar.text }}

      <template v-slot:action="{ attrs }">
        <v-btn dark text v-bind="attrs" @click="releaseSnackbar()">
          Ok
        </v-btn>
      </template>
    </v-snackbar>
  </v-main>
</v-app>
