<v-card class="ml-auto mr-auto elevation-0 transparent_bg">
  <validation-observer ref="observer-restuarants-form" v-slot="v">
    <v-form class="form__edit" data-vv-scope="preferenceFood">
      <v-card-text class="elevation-0" min-height="300">
        <v-container grid-list-md>
          <v-layout wrap class="white--text">
            <v-row>
              <v-col
                v-for="(item, index) in getterPartnersFood"
                :key="item.id"
                xs="2"
                sm="4"
                md="3"
                lg="3"
                xl="2"
              >
                <v-flex class="d-flex flex-column">
                  <v-flex class="d-flex justify-center">
                    <v-img :src="item.logo" aspect-ratio="1.0"></v-img>
                  </v-flex>
                  <v-flex class="d-flex justify-center mt-n6">
                    <v-checkbox
                      :label="item.deliveryName"
                      v-model="selected"
                      :value="item.id"
                    >
                    </v-checkbox>
                  </v-flex>
                </v-flex>
              </v-col>
            </v-row>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions
        ><v-flex md12 class="d-flex justify-end">
          <v-btn
            v-t="'editProfile_management.update'"
            x-large
            @click="updateRestuarants"
            class="btn_update white--text rounded-lg"
          ></v-btn>
        </v-flex>
      </v-card-actions>
    </v-form>
  </validation-observer>
</v-card>
