<v-card
  class="ml-auto mr-auto elevation-0 "
  :img="require(`../../assets/bg_main_profile.png`)"
  min-height="550"
>
  <v-card-title class="black--text profile_font">
    <v-spacer></v-spacer>
    {{ $t('editContactData_management.title') }}
    <v-spacer></v-spacer>
  </v-card-title>
  <validation-observer ref="observer-edit-contact-data-form" v-slot="v">
    <v-form id="editContactData" data-vv-scope="editContactData">
      <v-card-text class="elevation-0 pa-0">
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs6 md6>
              <validation-provider
                :name="$t('editContactData_management.city')"
                rules="required"
                v-slot="{ errors }"
              >
                <v-text-field
                  style="font-weight: 500;"
                  :label="$t('editContactData_management.city')"
                  outlined
                  background-color="rgba(169, 162, 164, 0.3)"
                  class="rounded-lg "
                  v-model="editedProfile.city"
                  :error-messages="errors[0]"
                ></v-text-field>
              </validation-provider>
            </v-flex>
            <v-flex xs6 md6>
              <validation-provider
                :name="$t('editContactData_management.street')"
                rules="required"
                v-slot="{ errors }"
              >
                <v-text-field
                  style="font-weight: 500;"
                  :label="$t('editContactData_management.street')"
                  outlined
                  background-color="rgba(169, 162, 164, 0.3)"
                  class="rounded-lg "
                  v-model="editedProfile.street"
                  :error-messages="errors[0]"
                ></v-text-field>
              </validation-provider>
            </v-flex>
            <v-flex xs6 md6>
              <validation-provider
                :name="$t('editContactData_management.house')"
                rules="required"
                v-slot="{ errors }"
              >
                <v-text-field
                  style="font-weight: 500;"
                  :label="$t('editContactData_management.house')"
                  outlined
                  background-color="rgba(169, 162, 164, 0.3)"
                  class="rounded-lg "
                  v-model="editedProfile.house"
                  :error-messages="errors[0]"
                ></v-text-field>
              </validation-provider>
            </v-flex>
            <v-flex xs6 md6>
              <validation-provider
                :name="$t('editContactData_management.houseBuilding')"
                rules=""
                v-slot="{ errors }"
              >
                <v-text-field
                  style="font-weight: 500;"
                  :label="$t('editContactData_management.houseBuilding')"
                  outlined
                  background-color="rgba(169, 162, 164, 0.3)"
                  class="rounded-lg "
                  v-model="editedProfile.houseBuilding"
                  :error-messages="errors[0]"
                ></v-text-field>
              </validation-provider>
            </v-flex>
            <v-flex xs6 md6>
              <validation-provider
                :name="$t('editContactData_management.entrance')"
                rules=""
                v-slot="{ errors }"
              >
                <v-text-field
                  style="font-weight: 500;"
                  :label="$t('editContactData_management.entrance')"
                  outlined
                  background-color="rgba(169, 162, 164, 0.3)"
                  class="rounded-lg "
                  v-model="editedProfile.entrance"
                  :error-messages="errors[0]"
                ></v-text-field>
              </validation-provider>
            </v-flex>
            <v-flex xs6 md6>
              <validation-provider
                :name="$t('editContactData_management.floor')"
                rules="numeric"
                v-slot="{ errors }"
              >
                <v-text-field
                  style="font-weight: 500;"
                  :label="$t('editContactData_management.floor')"
                  outlined
                  background-color="rgba(169, 162, 164, 0.3)"
                  class="rounded-lg "
                  v-model="editedProfile.floor"
                  :error-messages="errors[0]"
                ></v-text-field>
              </validation-provider>
            </v-flex>
            <v-flex xs6 md6>
              <validation-provider
                :name="$t('editContactData_management.flat')"
                rules="required"
                v-slot="{ errors }"
              >
                <v-text-field
                  style="font-weight: 500;"
                  :label="$t('editContactData_management.flat')"
                  outlined
                  background-color="rgba(169, 162, 164, 0.3)"
                  class="rounded-lg "
                  v-model="editedProfile.flat"
                  :error-messages="errors[0]"
                ></v-text-field>
              </validation-provider>
            </v-flex>
            <v-flex xs6 md6>
              <validation-provider
                :name="$t('editContactData_management.intercom_code')"
                rules=""
                v-slot="{ errors }"
              >
                <v-text-field
                  style="font-weight: 500;"
                  :label="$t('editContactData_management.intercom_code')"
                  outlined
                  background-color="rgba(169, 162, 164, 0.3)"
                  class="rounded-lg "
                  v-model="editedProfile.intercomCode"
                  :error-messages="errors[0]"
                ></v-text-field>
              </validation-provider>
            </v-flex>
            <v-flex xs6 md6>
              <validation-provider
                :name="$t('editContactData_management.phone_number')"
                rules="required"
                v-slot="{ errors }"
              >
                <v-text-field
                  style="font-weight: 500;"
                  :label="$t('editContactData_management.phone_number')"
                  outlined
                  background-color="rgba(169, 162, 164, 0.3)"
                  class="rounded-lg bold--text"
                  v-model="editedProfile.phone"
                  :error-messages="errors[0]"
                ></v-text-field>
              </validation-provider>
            </v-flex>
            <v-flex xs12 md12 class="d-flex">
              <v-spacer> </v-spacer>
              <v-btn
                v-t="$t('app.actions.save')"
                @click="save"
                :x-large="isMobile ? false : true"
                :disabled="isLoading"
                :loading="isLoading"
                class="btn_update px-10 rounded-lg white--text"
              ></v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </v-form>
  </validation-observer>
</v-card>
