.v-text-field input {
  font-weight: 600 !important;
}
.profile_font {
  line-height: 30, 22px;
  font-weight: 700;
}
.btn_update {
  background: #f12c5e !important;
  border-radius: 10px;
  text-transform: capitalize;
}
