.cursor {
  cursor: pointer;
}
.logo {
  font-family: Gilroy;
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  line-height: 125px;
  letter-spacing: 0em;
  text-align: left;
}
.logo::after {
  content: attr(data-end);
  color: #f12c5e;
}
.main_login_form {
  border-radius: 8, 33px !important;
}
.btn_log_in span {
  text-transform: capitalize;
}
.v-tabs-font-style {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  text-transform: capitalize;
}
.v-tabs-font-style.v-tab--active {
  color: #44413b !important;
  font-weight: 600;
}

.theme--light.v-tabs > .v-tabs-bar {
  background-color: transparent !important;
}
.theme--light.v-tabs-items {
  background-color: transparent !important;
}
.transparent-background {
  background-color: transparent !important;
}
.v-slide-group__prev.v-slide-group__prev--disabled {
  display: none !important;
}
.v-text-field label {
  color: black !important;
  opacity: 1;
}

@media only screen and (max-width: 1264px) {
  .logo {
    font-size: 60px;
  }
}
@media only screen and (max-width: 960px) {
  .logo {
    font-size: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .logo {
    font-size: 40px;
  }
}
