<v-content>
  <v-container class="fill-height" fluid>
    <div class="ml-auto mr-auto  white--text logo" data-end="AD">Send</div>
    <v-row justify="center">
      <v-col cols="12" xs="12" sm="8" md="5" lg="4">
        <v-card class="ml-auto mr-auto main_login_form" color="#1F2340">
          <v-card-text>
            <v-tabs
              v-model="tab"
              :class="!isMobile ? 'mb-6 mt-8 mx-5' :'mx-5'"
              :fixed-tabs="isMobile"
              slider-size="2"
              style="border-bottom: 1px solid #373A5F; width: 92%;"
            >
              <v-tabs-slider color="#FEA116"></v-tabs-slider>
              <v-tab
                class="v-tabs-font-style "
                active-class="v-tabs-font-style-active"
                >Войти</v-tab
              >
              <v-tab
                class="v-tabs-font-style"
                active-class="v-tabs-font-style-active"
                >Зарегистриоваться</v-tab
              >
            </v-tabs>
            <v-tabs-items v-model="tab" class="transparent-background">
              <validation-observer ref="observer-login-form" v-slot="v">
                <!--  -->
                <!-- Login -->
                <!--  -->
                <v-tab-item class="pa-3">
                  <validation-provider
                    name="login"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <v-text-field
                      label="Логин"
                      :height="isMobile ? '50px' :'86px'"
                      color="#55597D"
                      dark
                      v-model="newUser.userName"
                      background-color="#14182E"
                      :error-messages="errors[0]"
                    >
                    </v-text-field>
                  </validation-provider>
                  <validation-provider
                    name="password"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <v-text-field
                      label="Пароль"
                      dark
                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="showPassword ? 'text' : 'password'"
                      @click:append="showPassword = !showPassword"
                      v-model="newUser.password"
                      :height="isMobile ? '50px' :'86px'"
                      color="#55597D"
                      background-color="#14182E"
                      v-on:keyup.enter="login"
                      :error-messages="errors[0]"
                    ></v-text-field>
                  </validation-provider>
                  <v-flex class="d-flex flex-inline">
                    <v-btn
                      x-large
                      :disabled="isLoading"
                      :loading="isLoading"
                      class="btn_log_in ml-auto mr-auto white--text mb-8 mt-6"
                      color="#fea116"
                      @click="login"
                      >Войти</v-btn
                    >
                  </v-flex>
                </v-tab-item>
              </validation-observer>
              <validation-observer ref="observer-register-form" v-slot="v">
                <!--  -->
                <!-- Registration form -->
                <!--  -->
                <v-tab-item>
                  <validation-provider
                    name="email"
                    rules="required|email"
                    v-slot="{ errors }"
                  >
                    <v-text-field
                      label="E-mail"
                      @change="emailChanged"
                      :height="isMobile ? '50px' :'86px'"
                      color="#55597D"
                      dark
                      v-model="newUser.email"
                      background-color="#14182E"
                      :error-messages="errors[0]"
                    ></v-text-field>
                  </validation-provider>
                  <validation-provider
                    name="login"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <v-text-field
                      label="Логин"
                      :height="isMobile ? '50px' :'86px'"
                      color="#55597D"
                      dark
                      v-model="newUser.userName"
                      background-color="#14182E"
                      :error-messages="errors[0]"
                    ></v-text-field>
                  </validation-provider>

                  <validation-provider
                    name="firstName"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <v-text-field
                      label="Имя"
                      dark
                      v-model="newUser.firstName"
                      :height="isMobile ? '50px' :'86px'"
                      color="#55597D"
                      background-color="#14182E"
                      :error-messages="errors[0]"
                    ></v-text-field>
                  </validation-provider>
                  <validation-provider
                    name="lastName"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <v-text-field
                      label="Фамилия"
                      dark
                      v-model="newUser.lastName"
                      :height="isMobile ? '50px' :'86px'"
                      color="#55597D"
                      background-color="#14182E"
                      :error-messages="errors[0]"
                    ></v-text-field>
                  </validation-provider>
                  <validation-provider
                    name="password"
                    rules="required|min:8|verify_password"
                    v-slot="{ errors }"
                  >
                    <v-text-field
                      label="Паоль"
                      dark
                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="showPassword ? 'text' : 'password'"
                      @click:append="showPassword = !showPassword"
                      v-model="newUser.password"
                      :height="isMobile ? '50px' :'86px'"
                      color="#55597D"
                      background-color="#14182E"
                      :error-messages="errors[0]"
                    ></v-text-field>
                  </validation-provider>

                  <v-flex class="d-flex flex-inline">
                    <v-btn
                      x-large
                      :disabled="isLoading"
                      :loading="isLoading"
                      class="btn_log_in ml-auto mr-auto white--text mb-10"
                      color="#fea116"
                      @click="create"
                      >Регистрация</v-btn
                    >
                  </v-flex>
                </v-tab-item>
              </validation-observer>
            </v-tabs-items>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</v-content>
