<v-card
  class="ml-auto mr-auto elevation-0 "
  :img="require(`../../assets/bg_main_profile.png`)"
  min-height="550"
>
  <v-card-title class="black--text profile_font">
    <v-spacer></v-spacer>
    <v-tooltip bottom max-width="600" color="white">
      <template v-slot:activator="{ on, attrs }">
        <span v-bind="attrs" v-on="on">
          {{ $t('timeDelivery_management.allowed_period') }}
          <span style="color: #F12C5E;">*</span>
        </span>
      </template>
      <span class="black--text pl-12 text-center">
        {{ $t('timeDelivery_management.allowed_period_info') }}
      </span>
    </v-tooltip>
    <v-spacer></v-spacer>
  </v-card-title>
  <validation-observer ref="observer-edit-time-delivery-form" v-slot="v">
    <v-form id="editContactData" data-vv-scope="editTimeDelivery">
      <v-card-text class="elevation-0 pa-0">
        <v-container grid-list-md class="px-2">
          <v-layout wrap>
            <v-flex xs12 md8 class="ml-auto mr-auto">
              <validation-provider
                :name="$t('timeDelivery_management.delivery_period')"
                rules="required|verify_time_interval"
                mode="lazy"
                v-slot="{ errors }"
              >
                <v-text-field
                  v-mask="'##:## - ##:##'"
                  outlined
                  background-color="rgba(169, 162, 164, 0.3)"
                  class="text-center rounded-lg black--text"
                  v-model="timeInterval"
                  :readonly="disabledInterval"
                  data-vv-validate-on="change"
                  :error-messages="errors[0]"
                ></v-text-field>
              </validation-provider>
            </v-flex>
            <v-flex xs12 sm12 md12 class="d-flex justify-center">
              <v-btn
                color="#F12C5E"
                large
                class="btn_update white--text rounded-lg"
                @click="saveTime"
              >
                {{ titleForBtnTime}}
              </v-btn>
            </v-flex>
            <v-flex xs12 md12 class="d-flex justify-center pa-12 text-center">
              {{ $t('timeDelivery_management.stop_delivery_info') }}
            </v-flex>
            <v-flex xs12 sm12 md12 class="d-flex justify-center">
              <v-btn
                color="#F12C5E"
                large
                @click="turnOffOnDelivery"
                class="btn_update white--text rounded-lg"
              >
                {{ titleForBtnDelivery}}
              </v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </v-form>
  </validation-observer>
</v-card>
